certifi==2018.4.16
chardet==3.0.4
cltk==0.1.85
gitdb2==2.0.3
GitPython==2.1.10
idna==2.7
nltk==3.3
oauthlib==2.1.0
PySocks==1.6.8
python-crfsuite==0.9.5
pyuca==1.2
PyYAML==3.12
regex==2018.6.9
requests==2.19.0
requests-oauthlib==1.0.0
six==1.11.0
smmap2==2.0.3
tweepy==3.6.0
urllib3==1.23
Whoosh==2.7.4
